<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">z
    <title>YADIKA 6 TRASH FILTRATION SYSTEM</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar-left">
        <div class="card">
          <div class="card-header">
            <img src="../img/ORGANIC.png" alt="Organic" class="category-icon" />
            <h3>ORGANIK</h3>
          </div>
          <div class="bar-bg">
            <div
              id="bar-organik"
              class="bar-fill"
              style="background: #4caf50"
            ></div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img
              src="../img/INORGANIC.png"
              alt="Inorganic"
              class="category-icon"
            />
            <h3>ANORGANIK</h3>
          </div>
          <div class="bar-bg">
            <div
              id="bar-anorganik"
              class="bar-fill"
              style="background: #2196f3"
            ></div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img src="../img/HAZARD.png" alt="Hazard" class="category-icon" />
            <h3>B3</h3>
          </div>
          <div class="bar-bg">
            <div id="bar-b3" class="bar-fill" style="background: #f44336"></div>
          </div>
        </div>
      </div>

      <div class="webcam-section">
        <div id="webcam-container"></div>
        <button class="start-btn" type="button" onclick="init()">
          START SYSTEM
        </button>
      </div>

      <div class="sidebar-right">YASIX TRASH FILTRATION SYSTEM WITH™</div>
    </div>

    <footer>
      <i class="fab fa-facebook">1</i>
      <i class="fab fa-twitter">2</i>
      <i class="fab fa-instagram">3</i>
      <i class="fab fa-linkedin">4</i>
      <i class="fab fa-youtube">5</i>
    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="TM/teachablemachine.js" type="text/javascript"></script>
</html>
